# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
Intermediate/
Debug/
Release/
*.filters
*.user
*.suo
*.exe
*.ilk
*.pdb

# Binaries
bin/

# CFG files are user-specific for development configurations
*.cfg